{{!-- {{#if signinMessage}}
  <h1>{{signinMessage}}</h1>
{{/if}} --}}

<form class="form-signin" action="/signin" method="POST">
  {{! <img
        class="mb-4"
        src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
        alt=""
        width="72"
        height="72"
      /> }}
  <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
  <label name="username" class="sr-only">Username</label>
  <input
    type="text"
    id="username"
    name="username"
    class="form-control"
    placeholder="Username"
    required=""
    autofocus=""
  />
  <label class="sr-only">Password</label>
  <input
    type="password"
    id="password"
    name="password"
    class="form-control mt-2"
    placeholder="Password"
    required=""
  />

  <button
    class="btn btn-lg btn-primary btn-block"
    type="submit"
  >Acceder</button>
  <hr />
  <button
    class="btn btn-lg btn-secondary btn-block"
    type="submit"
    onclick="goSignup()"
  >Registrarse</button>
  <p class="mt-5 mb-3 text-muted text-center">Eibanez © CODERHOUSE 2021</p>
</form>

<script>
  function redireccionar(pagina) { location.href = pagina; } function goSignup()
  { redireccionar('/signup'); }
</script>