<footer class="mt-auto text-white-50">
   <p>Esteban Ibanez <a href="https://getbootstrap.com/" class="text-white"></a>, by <a href="https://.com/" class="text-white">@Eibanez © Coderhouse 2021</a>.</p>
</footer>