<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><a class="navbar-brand" href="#"><img
        src="https://github.com/mdo.png"
        alt="mdo"
        width="32"
        height="32"
        class="rounded-circle"
      /></a></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">
          Hola! 
          {{name}}
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/datos">Datos</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/info">Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a class="nav-item nav-link" href="/logout">Cerrar sesion</a>
    </span>
  </div>
</nav>